<%- include('./layout/head') %>

    <body class="animsition">

        <!-- Header -->
        <%- include('./layout/header') %>

            <!-- Cart -->
            <%- include('./layout/cart') %>
            <div class="container">
                <div class="flex-w flex-tr">
                    <div class="size-210 bor10 p-lr-70 p-t-55 p-b-70 p-lr-15-lg w-full-md" style="margin: 8rem auto;">
                        <form>
                            <h1 class="mtext-105 cl2 txt-center p-b-30">
                               <b>THANKS FOR SHOPPING WITH US!</b>
                            </h1>
    
                            <button class="flex-c-m stext-101 cl0 size-121 bg3 bor1 hov-btn3 p-lr-15 trans-04 pointer mt-4">
                                <a href="/dashboard">BACK TO SHOP</a>
                            </button>
                        </form>
                    </div>
    
                 
                </div>
            </div>

                <!-- Footer -->
                <%- include('./layout/footer') %>


                    <!-- Back to top -->
                    <div class="btn-back-to-top" id="myBtn">
                        <span class="symbol-btn-back-to-top">
                            <i class="zmdi zmdi-chevron-up"></i>
                        </span>
                    </div>
                    <%- include('./layout/corejsfile') %>

                       